.container {
  max-width: 70vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .container-box {
    width: 100%;

    .abc {
      color: white;
    }

    button {
      width: 100%;
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 100px;

      button {
        padding: 10px;
      }
    }

    .pomo-time {
      display: flex;
      flex-direction: column;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .setting {
    //text-align: start;
    height: 100%;
  }
}